* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background: url("images/bg-intro-desktop.png"), hsl(0, 100%, 74%) no-repeat;
  background-size: contain;
  font-family: "Poppins", sans-serif;
}
.container,
.left-portion,
.right-portion,
.first-name,
.last-name,
.email,
.password {
  display: flex;
}
.container {
  margin: 6% 12%;
  flex-direction: row;
}
.left-portion,
.right-portion {
  flex-direction: column;
  flex: 50%;
}
.left-portion {
  padding: 5% 0%;
  color: #fff;
}
.left-portion > h1 {
  margin-top: 15%;
  font-size: 45px;
  font-weight: 700;
}
.left-portion > p {
  margin-top: 2%;
  font-weight: 400;
  font-size: 15px;
}
.right-portion {
  margin: 0% 3%;
}
form {
  padding: 2% 7% 7% 7%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}
.first-name,
.last-name,
.email,
.password {
  flex-direction: row;
  width: 100%;
  height: 40px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 4px;
  font-weight: 400;
  margin-top: 5%;
}

.offer {
  margin-bottom: 4%;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}
.offer > p {
  padding: 3%;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  word-spacing: 1.5px;
}
.offer > p > span {
  font-weight: 400;
}
label {
  float: right;
  color: hsl(0, 100%, 74%);
  margin-bottom: 2%;
  font-size: 11px;
  font-style: italic;
}
input {
  width: 90%;
  outline: none;
  border: none;
  padding-left: 5%;
}
::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.first-name:focus-within,
.last-name:focus-within,
.email:focus-within,
.password:focus-within {
  border-color: hsl(249, 10%, 26%);
}
.error {
  justify-content: center;
  align-self: center;
}
.fname,
.lname,
.mail,
.pward {
  display: none;
}
button {
  width: 100%;
  height: 40px;
  margin: 5% 0% 3%;
  border-radius: 4px;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-align: center;
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: hsl(154, 59%, 71%);
  cursor: pointer;
}
.notice > p {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: hsl(246, 25%, 77%);
}
.notice > p > span {
  color: hsl(0, 100%, 74%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: url("images/bg-intro-mobile.png"), hsl(0, 100%, 74%) no-repeat;
    background-size: contain;
  }
  .container {
    flex-direction: column;
    margin: 12% 6%;
  }
  .left-portion,
  .right-portion {
    flex: 100%;
    padding: 0%;
  }
  .left-portion {
    text-align: center;
  }
  .left-portion > h1 {
    font-size: 30px;
  }
  .left-portion > p {
    margin: 3% 6% 15%;
  }
  .offer {
    margin-bottom: 8%;
  }
  .offer > p {
    padding: 3% 15%;
  }
}
